.loginContainer {
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  max-width: 35%;
  margin: auto;
}
.input {
  font-size: 1em;
}
.loginButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 780px) {
  .loginContainer {
    max-width: 90%;
    font-size: 1rem;
  }
}
