.main{
    width: 100%;
    height: 745px;
    display: flex;
    align-items: center;
    background-image: url("../../assets/bg1.jpg");
    background-position: center;
    background-size:cover;
}

.intro-text{
    width: 100%;
    text-align: center;
}
.buttonContainer{
    margin-top: 50px;
    display: flex;
    padding: 0px 10%;
    justify-content:space-evenly;
}
.title{
    padding: 0 20%;
    font-size: 70px;
}
.subtitle{
    padding-top: 10px;
    font-size: 25px;
}
.landingButton{
    width: 200px;
    height:55px;
}

@media(max-width:900px) {
    .main{
        height:584px;
    }
    .title{
        font-size: 35px;
    }
    .subtitle{
        font-size: 20px;
    }
    
    .landingButton{
        width: 90px;
        height: 40px;
    }
}